.faces {
    display: none;
}

body {
  height: -webkit-fill-available;
  height: -moz-available;
}

.m_u {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "info"
        "cube";
}