.xfaces {
    display: none;
}

body {
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  height: -webkit-fill-available;
  height: -moz-available;
  height: calc(var(--vh, 1vh) * 50);
}

.xm_u {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "info"
        "cube";
}